.totem-winning-screen {
    display: none;
}

.totem-winning-backdrop,
.totem-winning-message {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.totem-winning-backdrop {
    background-color: #000000;
    z-index: 1032;
    opacity: 0.7;
}

.totem-winning-message {
    padding-top: 15%;
    z-index: 2048;
}

.dancing-horde {
    background: url("../../res/images/dancingHorde.gif") center no-repeat;
    z-index: 4064;
    height: 231px;
}

.show {
    animation: show 333ms ease;
    display: block;
}

@keyframes show {
    0% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}